.header {
  margin-bottom: 20px;
}
.promo-bar {
  background-color: #0056ff;
  color: white;
  font-size: 13px;
  text-align: center;
  padding: 6px;
  font-weight: 700;
}

.promo-bar span {
  background-color: #6424c4;
  padding-inline: 3px;
  border-radius: 5px;
}

.promo-bar i {
  font-weight: 400;
}

.container-header {
  max-width: 1290px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  gap: 5px;
  position: relative;

}

.container2 {
  max-width: 1320px;
  margin: 0 auto;

}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  background: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.search-container {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 65px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  width: 100%;
  margin: 12px;
  padding-inline: 10px 50px;
  font-size: 14px;
  border: none;
}

.search-container input::placeholder {
  font-weight: 500;
  color: #000;
}


.search-container input:focus {
  outline: none;
}

.search-container::after {
  content: "";
  background-image: url(../../assets/icons8-pesquisar-25.png);
  width: 25px;
  height: 25px;
  position: absolute;
  cursor: pointer;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #333;
}

.icons span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icons .cart {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.icons .cart::after {
  content: "2";
  position: absolute;
  top: -8px;
  right: -10px;
  background: #0056ff;
  color: white;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
  font-weight: bold;
}

.icons .container-client {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.icons .container-client p {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 13px;
}
.nav-menu {
  display: flex;
  position: relative;
  gap: 50px;
  align-items: center;
  width: 100%;
  background: white;
  font-size: 14px;
  font-weight: 400;
  transition: ease-in-out 0.3s;
}

.nav-menu .menu-item {
  cursor: pointer;
  color: #333;
  padding-right: 0px;
  transition: color 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-menu .menu-item:hover {
  color: #0056ff;
  font-weight: 700;
}

.menu-item.active {
  color: #0056ff;
  font-weight: 700;
  transform: scale(1.03);
}

.mega-menu-item.active {
  color: #0056ff;
  font-weight: 700;
  transition: ease-in-out 0.2s;
}

.mega-menu-item.active img {
  filter: brightness(0) saturate(100%) invert(29%) sepia(93%) saturate(6289%)
    hue-rotate(217deg) brightness(95%) contrast(103%);
}

.mega-menu {
  position: absolute;
  background-color: #fff;
  max-width: 1300px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  margin-inline: 10px;
  transition: ease-in-out 0.2s;
  max-height: 330px;
}
.mega-menu-item {
  padding-inline: 10px;
  margin-bottom: 10px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.mega-menu-item img {
  color: #0056ff;
  width: 5px;
  height: 9px;
  margin-right: 20px;
}

.mega-menu-content {
  background-color: #f5f5f5ff;
  margin: 0;
  padding: 12px 15px 10px 12px;
  animation: fadeIn 0.2s ease-in forwards;
}

.slide-menu {
  max-height: 305px;
  max-width: 234px;
  overflow-y: scroll;
}

.slide-menu::-webkit-scrollbar {
  width: 6px;
}

.slide-menu::-webkit-scrollbar-track {
  background: transparent;
}

.slide-menu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}


.categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: white;
  font-size: 14px;
  font-weight: 400;
  transition: ease-in-out 0.6s;
  animation: fadeIn 0.2s ease-in forwards;

}

.container-categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  transition: ease-in-out 0.6s;
}

.title-departament {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.categories-ul-header, .title-departament {
  padding-inline: 15px;
  padding-bottom: 15px;
}
.container-image,
.container-image-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  margin-top: 10px;
}

.container-image-header {
transform: translatey(-30px);
}



.container-image::after,
.container-image-header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent);
}

.container-image, 
.container-image img,
.container-image-header, 
.container-image-header img {
  width: 236px;
  height: 298px;
  border-radius: 10px;
}
.container-image img,
.container-image p,
.container-image button,
.container-image-header img,
.container-image-header p,
.container-image-header button {
  position: absolute;
  left: 0;
}

.container-image p,
.container-image button,
.container-image-header p,
.container-image-header button {
  margin-left: 35px;
  z-index: 1;
}

.container-image p,
.container-image-header p {
  top: 40px;
  font-size: 24px;
  color: #fff;
  width: 120px;
  line-height: 28px;
}

.container-image span,
.container-image-header span {
  font-weight: 700;
}

.container-image button,
.container-image-header button {
  bottom: 45px;
  padding: 10px 10px;
  width: 116px;
  font-family: 12px;
  border-radius: 10px;
  background: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  border: 1px solid #fff;
  color: #fff;
}


.categories-ul,
.container-image,
.container-image-header {
  padding: 15px 15px;
}

.categories-ul, .categories-ul-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: ease-in-out 0.6s;
}


.categories-ul li, .categories-ul-header li {
  display: flex;
  gap: 110px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}


.categories,
.header-categories {
  display: none;
}
.categories.active,
.header-categories.active {
  display: block;
}

.container-categories .categories-ul li:hover,
.container-categories .categories-ul-header li:hover {
  color: #0056ff;
  font-weight: 700;
}
.container-categories .categories-ul li {
  margin-left: 25px;
  color: #656565;
  font-weight: 400;
}

.header-categories {
  width: 100%;
  animation: fadeIn 0.2s ease-in forwards;
}
.container-categories-menu {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  background-color: #0056ff;

}



.fade-in {
  animation: fadeIn 1s ease-in forwards;
}
