.teste {
    z-index: 100;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-container {
    max-width: 1220px;
    width: 100%;
    position: relative;
    padding: 20px 0;
  }
  
  .carousel {
    display: flex;
    gap: 16px;
    transition: transform 0.3s ease;
  }
  
  .card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    width: 230px;
    height: 410PX;
    flex-shrink: 0;
    border: 1px solid rgba(221, 221, 221, 1);
    position: relative;
    text-align: center;
    font-family: sans-serif;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0c3b77;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #777;
    font-size: 14px;
  }
  
  .discount {
    background: #d0f0e0;
    color: #1ca77f;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
    margin: 4px 0;
  }
  
  .new-price {
    font-weight: bold;
    font-size: 18px;
  }
  
  .installments {
    font-size: 12px;
    color: #333;
  }
  
  button {
    background: #006eff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .dots {
    text-align: center;
    margin-top: 12px;
  }
  
  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .dot.active {
    background: black;
  }

.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
 
 
  .arrow.left {
    width: 10%;
    z-index: 1;
    left: 0;
    transform: translateX(-80px);
    position: absolute;
 
  }
  
  .arrow.right {
    width: 10%;
    z-index: 1;
    right: 0;
    position: absolute;

  }